.other{
  left:10px;
  text-align: left;
  padding-right:80px;
}
.next{
  justify-content: end;
}
// a{
//   text-decoration: none;
//   color: aliceblue;
  
// }
.sow{
  text-decoration: none;
  color: aliceblue;
  
}