.vv {
    background-image: linear-gradient(120deg, #3E5151, #DECBA4);
        // background-image: linear-gradient(120deg, #FF4081, #81D4FA);
        height:100vh;
        padding: 10px;
    }
    .ab{
        margin-top: 100px;
        margin-left: 70px;
        margin-right:80px;
    }
    .yz{
        margin: 4rem;
    }
    .cd{
        margin-top: 20px;
    }