.yes{
    background-image: linear-gradient(120deg, #3E5151, #DECBA4);
    // background-image: linear-gradient(120deg, #FF4081, #81D4FA);
    // height:400%;
    // padding:50px; 
    height:649px;
  }
  .flex{
    display: inline-flex;
  }
  // .co{
  // margin:5rem;
  
  // }
  // .login-form{
  //     margin: 0%;
  //     padding-left: 100px;
  //     margin-top: 100px;
  // }
  .mm{
  // margin-left: 30px;
  position: absolute;
  left:73px;
  // right:250px;
  bottom:100px;
  margin-top: 18px;
  top:56px;
  }
  .nn{
    position: absolute;
    right: 250px;
    margin-top: 100px;
  }
  