.tt{
    background-image: linear-gradient(120deg, #3E5151, #DECBA4);
    // background-image: linear-gradient(120deg, #FF4081, #81D4FA);
    height:100vh;
    padding:10px;
   
  }
  .flex{
    display: inline-flex;
  }
  // .co{
  // margin:2rem;
  
  // }
  .xx{
    margin-top: 100px;
    margin-left: 150px;
  }
  .zz{
    margin:4rem;
    // position: absolute;
    // top: 4px;
    // margin-left:100px ;
    // margin-right: 100px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  