.man{
    background-image: linear-gradient(120deg, #3E5151, #DECBA4);
    // background-image: linear-gradient(120deg, #FF4081, #81D4FA);
    // height:1000px;
    
    // margin-left:200px;
    
    // height:100vh;
    // margin:auto;
    
    padding: 312px;
    // margin-left: 30px;
}
// .flex{
//     display: inline-flex;
// }
// .container{
//     margin-left: 200px;
// }
// .flex{
//     display: inline-flex;
// }
.pg{
    // margin: 5rem;
    // margin-left:100px;
    // // position: absolute;
    // // left: 650px;
    // position: absolute;
    // right:400px;
    // top: 10px;
    position: absolute;
    right: 250px;
    top: 100px;
    left:850px;
}

.f{
    // margin:5rem;
    // position: absolute;
// left:100px;
// margin-left: 30px;
position: absolute;
left:73px;
// right:250px;
bottom:100px;
margin-top: 18px;
top:56px;
}
// .y{
//     margin-left:10px;
//     // margin-right:10px;
// }