.App {
  background-image: linear-gradient(120deg, #3E5151, #DECBA4);
  font-family: sans-serif;
  background-color: linear-gradient(120deg, #3E5151, #DECBA4);
  display:flex;
  flex-direction:column;
  align-self: center ;
  padding-left: 15px;
  padding-top: 25px;
}


